.card {
  max-width: 100%;
  position: relative;
}

.thumbnail img {
  border-radius: 8px;
}

.info {
  margin-top: 8px;
}

.info span {
  font-size: 13px;
  margin-right: 4px;
}

.info span:not(:first-child) {
  margin-left: 4px;
}

/* small logo styling */
.info span img {
  height: 12px;
  margin: auto;
}

.info h3 {
  margin-top: 5px;
}

/* card styling for trending line */
.card.trending .thumbnail img {
  max-height: 230px;
}

.card.trending .info {
  position: absolute;
  top: 154px;
  left: 24px;
}

.card.trending .info h3 {
  font-size: 24px;
}

.card.trending .info span {
  font-size: 15px;
}