.button {
  align-self: center;
  margin: 20px 0;
  width: 20px;
}

/* doesn't work */
svg {
  width: 20px;
  height: 20px;
  fill: var(--dark-color);
}

.active svg {
  fill: var(--white-color);
}

/* temp */
.active img {
  background-color: var(--white-color);
}