.line {
  display: grid;
  height: 252px;
  /* grid with one row */
  grid-auto-flow: column;
  column-gap: 40px;
  overflow-x: hidden;
}

.line::-webkit-scrollbar {
  width: 0;
}

.line:hover {
  cursor: ew-resize;
  overflow-x: auto;
}